:root{
  --mainDark: #6C2A57;
  --mainGrey: rgba(109,109,109);
  --mainLightGrey: rgba(172,172,172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

ul li a {
  color: var(--mainLightGrey);
}
ul li a:hover{
  color: var(--mainWhite);
}